$blue: #29B6F6;

.buttons {
    margin: 1rem 0rem 0rem 2rem;
}

input[type="file"] {
    display: none;
}

label {
	background-color: transparent;
	color: #ccc;
	border-radius: 2px;
	border: 2px solid #ccc;
	font-size: 0.9rem;
	font-family: 'Play';
	height: 1.6rem;
	min-height: 1.6rem;
    padding: 2px 6px 2px 6px;
	text-align: center;
	transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; 
    text-decoration: none;
    overflow: hidden;
	cursor: pointer;
}

label:hover {
	background: #b0bec5;
	color: #000;
	border: 2px solid #b0bec5;
}