<div class="demo" *ngIf="main.userId == 5">
  <p>You are in demo mode. You can not create new projects & scenarios. To have full access just <a
      href="https://wizfds.com/register">register new account</a></p>
</div>
<div class="idle" *ngIf="main.idle.showWarning">
  <p>Session timout in {{main.idle.timeout | minSec}}. <a (click)="refreshSession()">Continue</a> session.</p>
</div>

<div class="header-container">

  <div class="header-left">
    <img src="assets/images/wizfds.png">
  </div>

  <div class="header-right">

    <div class="left-top">

      <div>
        <span>
          <a routerLink="">
            <i class="material-icons" matTooltip="Projects" [matTooltipDisabled]="!main.settings.tooltips"
              (click)="activate('projects')" [ngClass]="{'active': uiState.active == 'projects'}">view_list</i>
          </a>
        </span>
        <span *ngIf="main.currentProject != undefined" matTooltip="Id: {{main.currentProject.id}}">
          &nbsp;|&nbsp; {{main.currentProject.name}} &nbsp;|&nbsp;
        </span>
        <span *ngIf="main.currentProject != undefined && main.currentFdsScenario != undefined" matTooltip="Id: {{main.currentFdsScenario.id}}">
          {{main.currentFdsScenario.name}} &nbsp;|&nbsp;
        </span>
      </div>
      <div class="cad-path">
        <span
          *ngIf="main.currentFdsScenario != undefined && main.currentFdsScenario.acFile != '' && main.currentFdsScenario.acPath">
          {{ main.currentFdsScenario.acPath }}{{ main.currentFdsScenario.acFile }}
        </span>
      </div>

    </div>

    <div class="center-top">
    </div>

    <div class="right-top">
      <div class="id">
        <p matTooltip="Id: {{ main.userId }}">{{ main.settings.userName }}</p>
        <p class="email">({{ main.settings.email }})</p>
      </div>
      <div class="menu">
        &nbsp;&nbsp;
        <a routerLink="settings">
          <i class="material-icons" matTooltip="Settings" [matTooltipDisabled]="!main.settings.tooltips"
            (click)="activate('settings')" [ngClass]="{'active': uiState.active == 'settings'}">settings</i>
        </a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
      </div>
      <div class="menu" matTooltip="Log out" [matTooltipDisabled]="!main.settings.tooltips" (click)="logOut()">
        <i class="material-icons">exit_to_app</i>
      </div>
    </div>

    <div class="left-bottom">
      <div class="buttons" *ngIf="main.currentProject != undefined && main.currentFdsScenario != undefined">
        <div class="menu" (click)="updateFdsScenario(main.currentProject.id, main.currentFdsScenario.id)">
          <i [class]="main.autoSave.fdsObjectSaveFont" matTooltip="Save scenario"
            [matTooltipDisabled]="!main.settings.tooltips"></i>
          &nbsp;&nbsp;|&nbsp;&nbsp;
        </div>
        <div class="menu" (click)="downloadFdsInputFile()">
          <i class="material-icons" matTooltip="Download *.fds"
            [matTooltipDisabled]="!main.settings.tooltips">file_download</i>
          &nbsp;&nbsp;|&nbsp;&nbsp;
        </div>
      </div>
    </div>

    <div class="center-bottom" (click)="showDiagnosticData()">
      {{ diagnostic }}
    </div>

    <div class="right-bottom">
      <div class="menu" (click)="updateFdsLibrary()">
        <i [class]="main.autoSave.libSaveFont" matTooltip="Save library"
          [matTooltipDisabled]="!main.settings.tooltips"></i>
        &nbsp;&nbsp;|&nbsp;&nbsp;
      </div>
      <div class="menu">
        <a routerLink="library">
          <i class="material-icons" matTooltip="Library editor" [matTooltipDisabled]="!main.settings.tooltips"
            (click)="activate('library')" [ngClass]="{'active': uiState.active == 'library'}">notes</i>
        </a>
        &nbsp;&nbsp;||&nbsp;&nbsp;
      </div>
      <div class="menu"
        *ngIf="main.currentProject != undefined && main.currentFdsScenario != undefined && websocket.isConnected"
        (click)="getCadGeometryWeb()">
        <i class="material-icons" matTooltip="Get CAD geometry" [matTooltipDisabled]="!main.settings.tooltips">360</i>
        &nbsp;&nbsp;|&nbsp;&nbsp;
      </div>
      <div class="menu">
        <i class="material-icons" (click)="connectCad()" matTooltip="Connect CAD"
          [matTooltipDisabled]="!main.settings.tooltips" [ngClass]="{'connected':websocket.isConnected}">dvr</i>
      </div>
    </div>
  </div>

</div>