<div class="container">

  <div class="header">
    <div class="logo">
      <img src="assets/wizfds.svg">
    </div>
    <div class="menu">
      <p [ngx-scroll-to]="'#home'">HOME</p>
      <p [ngx-scroll-to]="'#about'">ABOUT</p>
      <p [ngx-scroll-to]="'#how-it-works'">HOW IT WORKS</p>
      <p><a href="https://github.com/fkce/WizFDS/wiki" target="_blank">TUTORIAL</a></p>
      <p [ngx-scroll-to]="'#services'">SERVICES</p>
      <p [ngx-scroll-to]="'#contact'">CONTACT</p>
    </div>
    <div class="login">
      <p class="login-button"><a href="/login">LOG IN</a></p>
    </div>
  </div>

  <div class="main">
    <app-main></app-main>
  </div>

</div>
<cookie-law learnMore="/assets/cookies.html" name="WizFDSCookieLaw"></cookie-law>