@import '../../../../../../app.component.scss';

.form-row {
    display: flex;
    flex-direction: row;
    align-items: left;
    flex-wrap: wrap;

    div {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 0.3rem;
        label {
            font-size: 0.9rem;
        }
        div.field-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 0.0rem;
            input {
                margin-right: 0.4rem;
            }
        }
        div.field-container.click {
            cursor: pointer;
        }
        div.field-container.click:hover {
            color: $blue;
        }
    }
}
.buttons {
    display: flex;
    justify-content: space-between;
}