<div class="double-amper-container">
  <div class="single-amper-container">

    <div class="list-wrapper">
      <div class="list-drawer">
        <div class="list-title" (click)="add('obst'); createCad('obst')">
          <i class="material-icons">add_box</i> Add OBST
        </div>
        <perfect-scrollbar #obstScrollbar (psScrollY)="scrollbarUpdate('obst')">
          <div class="list-items">
            <div class="list-item" *ngFor="let obstItem of geometry.obsts | slice:ui.geometry.obst.begin:(ui.geometry.obst.begin + ui.listRange)">
              <a [ngClass]="{active: obstItem===obst}" (click)="activate(obstItem.id, 'obst'); websocketService.selectCad(obstItem.idAC)"> {{obstItem.id}} </a>
              <i class="material-icons red" (click)="deleteCad('obst'); delete(obstItem.id, 'obst')">delete_forever</i>
            </div>
          </div>
        </perfect-scrollbar>
        <div class="list-bottom" *ngIf="geometry.obsts.length > ui.listRange">
          <i class="material-icons" *ngIf="ui.geometry.obst.begin > 0" (click)="uiStateService.decreaseRange('geometry.obst')">chevron_left</i>
          <div>{{ui.geometry.obst.begin}} - {{ui.geometry.obst.begin + ui.listRange > geometry.obsts.length ? geometry.obsts.length
            : ui.geometry.obst.begin + ui.listRange}}</div>
          <i class="material-icons" *ngIf="ui.geometry.obst.begin + ui.listRange < geometry.obsts.length" (click)="uiStateService.increaseRange('geometry.obst')">chevron_right</i>
        </div>
      </div>
    </div>

    <div class="form-box">
      <div class="form-row" *ngIf="!obst">
        <label>Select or add new obst</label>
      </div>
      <div *ngIf="obst != undefined">
        <div class="form-title">
          <label> {{obst.id}} definition</label>
        </div>
        <div class="form-row">
          <div>
            <label>Id: </label>
            <div class="field-container">
              <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="obst.id" idInput stringInput/>
            </div>
          </div>
          <div>
            <label>Elevation: </label>
            <div class="field-container">
              <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="obst.elevation" decimalInput/>
            </div>
          </div>
          <div>
            <label>Device:</label>
            <div class="field-container">
              <ng-select [items]="output.devcs" bindLabel="id" placeholder="No DEVC" [(ngModel)]="obst.devc" [searchable]="false"
                [clearable]="true"></ng-select>
            </div>
          </div>
        </div>
        <div class="form-title">
          <label>Obst XB</label>
        </div>
        <div class="form-row">
          <div>
            <label>X1:</label>
            <div class="field-container">
              <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="obst.xb.x1" (ngModelChange)="updateCad('obst')" decimalInput>
              <ng-katex equation="m"></ng-katex>
            </div>
          </div>
          <div>
            <label>X2:</label>
            <div class="field-container">
              <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="obst.xb.x2" (ngModelChange)="updateCad('obst')" decimalInput>
              <ng-katex equation="m"></ng-katex>
            </div>
          </div>
          <div>
            <label>Y1:</label>
            <div class="field-container">
              <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="obst.xb.y1" (ngModelChange)="updateCad('obst')" decimalInput>
              <ng-katex equation="m"></ng-katex>
            </div>
          </div>
          <div>
            <label>Y2:</label>
            <div class="field-container">
              <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="obst.xb.y2" (ngModelChange)="updateCad('obst')" decimalInput>
              <ng-katex equation="m"></ng-katex>
            </div>
          </div>
          <div>
            <label>Z1:</label>
            <div class="field-container">
              <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="obst.xb.z1" (ngModelChange)="updateCad('obst')" decimalInput>
              <ng-katex equation="m"></ng-katex>
            </div>
          </div>
          <div>
            <label>Z2:</label>
            <div class="field-container">
              <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="obst.xb.z2" (ngModelChange)="updateCad('obst')" decimalInput>
              <ng-katex equation="m"></ng-katex>
            </div>
          </div>
        </div>
        <div class="form-title">
          <label>Surface</label>
        </div>

        <div class="form-row">
          <div>
            <label>SURF type:</label>
            <ng-select [items]="ENUMS_OBST.obstSurfType" bindLabel="label" bindValue="value" placeholder="Surf type" [(ngModel)]="obst.surf.type"
              [searchable]="false" [clearable]="false" (change)="obst.changeSurfType()"></ng-select>
          </div>
        </div>
        <div class="form-row">
          <div *ngIf="obst.surf.type == 'surf_id'">
            <label>Surface (SURF_ID): </label>
            <ng-select [items]="surfaces" bindLabel="id" placeholder="No surface" [(ngModel)]="obst.surf.surf_id" [searchable]="false"
              [clearable]="true" (ngModelChange)="updateObstSurface('surfId')"></ng-select>
          </div>
          <div *ngIf="obst.surf.type=='surf_ids'">
            <div>
              <label>Surface (SURF_IDX): </label>
              <ng-select [items]="surfaces" bindLabel="id" placeholder="No surface" [(ngModel)]="obst.surf.surf_idx" [searchable]="false"
                [clearable]="true" (ngModelChange)="updateObstSurface('surfIdx')"></ng-select>
            </div>
            <div>
              <label>Surface (SURF_IDY): </label>
              <ng-select [items]="surfaces" bindLabel="id" placeholder="No surface" [(ngModel)]="obst.surf.surf_idy" [searchable]="false"
                [clearable]="true"></ng-select>
            </div>
            <div>
              <label>Surface (SURF_IDZ): </label>
              <ng-select [items]="surfaces" bindLabel="id" placeholder="No surface" [(ngModel)]="obst.surf.surf_idz" [searchable]="false"
                [clearable]="true"></ng-select>
            </div>
          </div>
          <div *ngIf="obst.surf.type=='surf_id6'">
            <div>
              <label>Surface (SURF_ID1): </label>
              <ng-select [items]="surfaces" bindLabel="id" placeholder="No surface" [(ngModel)]="obst.surf.surf_id1" [searchable]="false"
                [clearable]="true" (ngModelChange)="updateObstSurface('surfId1')"></ng-select>
            </div>
            <div>
              <label>Surface (SURF_ID2): </label>
              <ng-select [items]="surfaces" bindLabel="id" placeholder="No surface" [(ngModel)]="obst.surf.surf_id2" [searchable]="false"
                [clearable]="true"></ng-select>
            </div>
            <div>
              <label>Surface (SURF_ID3): </label>
              <ng-select [items]="surfaces" bindLabel="id" placeholder="No surface" [(ngModel)]="obst.surf.surf_id3" [searchable]="false"
                [clearable]="true"></ng-select>
            </div>
            <div>
              <label>Surface (SURF_ID4): </label>
              <ng-select [items]="surfaces" bindLabel="id" placeholder="No surface" [(ngModel)]="obst.surf.surf_id4" [searchable]="false"
                [clearable]="true"></ng-select>
            </div>
            <div>
              <label>Surface (SURF_ID5): </label>
              <ng-select [items]="surfaces" bindLabel="id" placeholder="No surface" [(ngModel)]="obst.surf.surf_id5" [searchable]="false"
                [clearable]="true"></ng-select>
            </div>
            <div>
              <label>Surface (SURF_ID6): </label>
              <ng-select [items]="surfaces" bindLabel="id" placeholder="No surface" [(ngModel)]="obst.surf.surf_id6" [searchable]="false"
                [clearable]="true"></ng-select>
            </div>
          </div>
        </div>

        <div class="form-title">
          <label>Other</label>
        </div>
        <div class="form-row">
          <div>
            <label>Thicken: </label>
            <div class="field-container">
              <mat-checkbox [(ngModel)]="obst.thicken"></mat-checkbox>
            </div>
          </div>
          <div>
            <label>Permit hole: </label>
            <div class="field-container">
              <mat-checkbox [(ngModel)]="obst.permitHole"></mat-checkbox>
            </div>
          </div>
          <div>
            <label>Overlay: </label>
            <div class="field-container">
              <mat-checkbox [(ngModel)]="obst.overlay"></mat-checkbox>
            </div>
          </div>
          <div>
            <label>Removable: </label>
            <div class="field-container">
              <mat-checkbox [(ngModel)]="obst.removable"></mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="single-amper-container">

    <div class="list-wrapper">
      <div class="list-drawer">
        <div class="list-title" (click)="add('hole'); createCad('hole')">
          <i class="material-icons">add_box</i> Add HOLE
        </div>
        <perfect-scrollbar #holeScrollbar (psScrollY)="scrollbarUpdate('hole')">
          <div class="list-items">
            <div class="list-item" *ngFor="let holeItem of geometry.holes | slice:ui.geometry.hole.begin:(ui.geometry.hole.begin + ui.listRange)">
              <a [ngClass]="{active: holeItem===hole}" (click)="activate(holeItem.id, 'hole'); websocketService.selectCad(holeItem.idAC)"> {{holeItem.id}} </a>
              <i class="material-icons red" (click)="deleteCad('hole'); delete(holeItem.id, 'hole')">delete_forever</i>
            </div>
          </div>
        </perfect-scrollbar>
        <div class="list-bottom" *ngIf="geometry.holes.length > ui.listRange">
          <i class="material-icons" *ngIf="ui.geometry.hole.begin > 0" (click)="uiStateService.decreaseRange('geometry.hole')">chevron_left</i>
          <div>{{ui.geometry.hole.begin}} - {{ui.geometry.hole.begin + ui.listRange > geometry.holes.length ? geometry.holes.length
            : ui.geometry.hole.begin + ui.listRange}}</div>
          <i class="material-icons" *ngIf="ui.geometry.hole.begin + ui.listRange < geometry.holes.length" (click)="uiStateService.increaseRange('geometry.hole')">chevron_right</i>
        </div>
      </div>
    </div>

    <div class="form-box">
      <div class="form-row" *ngIf="!hole">
        <label>Select or add new hole</label>
      </div>
      <div *ngIf="hole != undefined">
        <div class="form-title">
          <label>
            {{hole.id}} definition</label>
        </div>
        <div class="form-row">
          <div>
            <label>Id:</label>
            <div class="field-container">
              <input type="text" [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="hole.id" idInput stringInput/>
            </div>
          </div>
          <div>
            <label>Elevation: </label>
            <div class="field-container">
              <input [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="hole.elevation" decimalInput/>
            </div>
          </div>
          <div>
            <label>Device:</label>
            <div class="field-container">
              <ng-select [items]="output.devcs" bindLabel="id" placeholder="No DEVC" [(ngModel)]="hole.devc" [searchable]="false"
                [clearable]="true"></ng-select>
            </div>
          </div>
        </div>
        <div class="form-title">
          <label>Hole XB</label>
        </div>
        <div class="form-row">
          <div>
            <label>X1:</label>
            <div class="field-container">
              <input [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="hole.xb.x1" (ngModelChange)="updateCad('hole')" decimalInput>
              <ng-katex equation="m"></ng-katex>
            </div>
          </div>
          <div>
            <label>X2:</label>
            <div class="field-container">
              <input [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="hole.xb.x2" (ngModelChange)="updateCad('hole')" decimalInput>
              <ng-katex equation="m"></ng-katex>
            </div>
          </div>
          <div>
            <label>Y1:</label>
            <div class="field-container">
              <input [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="hole.xb.y1" (ngModelChange)="updateCad('hole')" decimalInput>
              <ng-katex equation="m"></ng-katex>
            </div>
          </div>
          <div>
            <label>Y2:</label>
            <div class="field-container">
              <input [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="hole.xb.y2" (ngModelChange)="updateCad('hole')" decimalInput>
              <ng-katex equation="m"></ng-katex>
            </div>
          </div>
          <div>
            <label>Z1:</label>
            <div class="field-container">
              <input [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="hole.xb.z1" (ngModelChange)="updateCad('hole')" decimalInput>
              <ng-katex equation="m"></ng-katex>
            </div>
          </div>
          <div>
            <label>Z2:</label>
            <div class="field-container">
              <input [ngModelOptions]="{updateOn:'blur'}" [(ngModel)]="hole.xb.z2" (ngModelChange)="updateCad('hole')" decimalInput>
              <ng-katex equation="m"></ng-katex>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>