/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Play';
  src: url(/assets/fonts/Play-Regular.ttf) format("truetype");
  font-weight:300;
}

html, body {
  font-size: 1rem;
  font-family: "Play";
  margin: 0;
  padding: 0;
  background-color: #383838;
}
