@import '../../app.component.scss';

$open-time: .5s;
$close-time: .5s;
$close-time-lib: 1.0s;
$open-curve: ease-out;
$close-curve: ease-in;

.n0 {
	display: flex;
	align-items: center;
    background-color: $grey1;
	height: 1.5rem;
	padding: 0.5rem;
    border: none;
	cursor: pointer;
	@include no-select;
}
.n0:hover {
	color: $blue;
	a {
		color: $blue;
	}
}

.n1 {
	display: flex;
	align-items: center;
	background-color: $grey2;
	height: 1.5rem;
	padding: 0.5rem;
	padding-left: 1rem;
	border-bottom: 1px solid $border-light;
	border-right: 1px solid $border-dark;
	box-shadow: 0 -1px 0 $shadow-dark inset;
	cursor: pointer;
	@include no-select;
}
.n1:hover {
	color: $blue;
}
.n1:last-child {
    border-bottom: none;
}

.n2 {
	display: flex;
	align-items: center;
	background-color: $grey4;
	height: 1.4rem;
	padding-top: .3rem;
	padding-left: 2.5rem;
	width: 100%;
	cursor: pointer;
	@include no-select;
}
.n2:hover {
	color: $blue;
}
.n2:last-child {
	padding-bottom: .3rem;
}

.ng2 {
	overflow: hidden;
}

.ng2.open {
	max-height: 10rem;
	transition: max-height $open-time $open-curve;
	border-right: 1px solid $border-dark;
}

.ng2.close {
	max-height: 0;
	transition: max-height $close-time cubic-bezier(0, 1, 0, 1);
}