/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Play';
    background-color: #FCFCFC;
    color: #454B54;
    margin: 0;
    padding: 0;
    border: 0;
}
a {
    text-decoration: none;
    color: #454B54;
}
a:hover {
    color: #009AFF;
}
a.blue {
    color: #009AFF !important;
}